<h1>Profiliniz</h1>

<p>
    <strong>Adınız:</strong>
    <%= @user.first_name %></p>
<p>
    <strong>Soyadınız:</strong>
    <%= @user.last_name %></p>
<p>
    <strong>E-posta:</strong>
    <%= @user.email %></p>

<%= link_to "Profilinizi Düzenleyin", edit_users_profile_path, class: "btn btn-primary" %>
