<span id="article_<%= article.id %>_likes_count" class="inline-flex items-center text-gray-600 bg-gray-50 px-2 py-1 rounded-md text-sm">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-red-500 mr-1" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"/>
    </svg>
    <strong><%= article.likes.count %></strong>
    <span class="ml-1">Likes</span>
</span>
