<div id="article_<%= article.id %>_like_button" class="inline-block">
    <% if article.likes.exists?(user: current_user) %>
        <%= button_to article_like_path(article, article.likes.find_by(user: current_user)), 
                  method: :delete, 
                  remote: true,
                  class: "flex items-center space-x-1 px-3 py-2 bg-red-100 hover:bg-red-200 text-red-600 rounded-full transition duration-200 focus:outline-none focus:ring-2 focus:ring-red-400" do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="currentColor" stroke="none">
                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
            </svg>
            <span>Beğeniyi Kaldır</span>
        <% end %>
    <% else %>
        <%= button_to article_likes_path(article), 
                  method: :post, 
                  remote: true,
                  class: "flex items-center space-x-1 px-3 py-2 bg-gray-100 hover:bg-gray-200 text-gray-700 rounded-full transition duration-200 focus:outline-none focus:ring-2 focus:ring-gray-400" do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
            </svg>
            <span>Like</span>
        <% end %>
    <% end %>
</div>
