<%= search_form_for @query, url: search_articles_path, method: :get, data: { turbo_frame: "articles" } do |form| %>
    <div class="flex space-x-2 mb-6">
        <%= form.search_field :title_cont, placeholder: "Search Articles", class: "p-2 border rounded-lg w-80" %>
        <%= form.select :status_eq, Article::VALID_STATUSES, include_blank: true, class: "p-2 border rounded-lg" %>
        <%= form.submit "Search", class: "bg-blue-500 text-white p-2 rounded-lg hover:bg-blue-600" %>
    </div>
<% end %>
