<li id="notification_<%= notification.id %>" class="transition duration-200 hover:bg-gray-50">
    <%= link_to mark_as_read_notification_path(notification), 
      class: "block p-4 text-gray-700 hover:text-gray-900", 
      data: { turbo_method: :post } do %>
        <div class="flex items-start">
            <div class="flex-shrink-0 mr-3">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"/>
                </svg>
            </div>
            <div>
                <p class="text-sm"><%= notification_text(notification) %></p>
                <p class="text-xs text-gray-500 mt-1">
                    <%= time_ago_in_words(notification.created_at) %>
                    önce
                </p>
            </div>
        </div>
    <% end %>
</li>
