<div class="flex justify-center items-center gap-6 p-2">
    <% [:en, :tr].each do |locale| %>
        <% if locale != I18n.locale %>
            <%= link_to locale.to_s.upcase, request.params.merge(locale: locale), 
        class: "px-6 py-2 rounded-full bg-secondary-500 text-white hover:bg-primary-600 hover:text-white transition duration-300" %>
        <% end %>
    <% end %>
</div>
