<div class="container mx-auto p-4" data-controller="tabs" data-tabs-active-tab-class="bg-white border-l border-t border-r rounded-t text-primary-700">
    <ul class="flex border-b">
        <% @tags.each_with_index do |tag, index| %>
            <li class="mr-1" data-tabs-target="tab" data-action="click->tabs#change:prevent">
                <%= link_to tag.name, tag_path(tag), class: "inline-block py-2 px-4 text-sm font-medium text-secondary-600 hover:text-primary-600 rounded-t-lg transition duration-200", data: { turbo_frame: "tab_#{tag.id}" } %>
            </li>
        <% end %>
    </ul>

    <% @tags.each do |tag| %>
        <div class="hidden py-4 px-4 bg-white border-l border-b border-r rounded-b" data-tabs-target="panel" id="tab_<%= tag.id %>">
            <turbo-frame id="tab_<%= tag.id %>_frame">
                <%= render 'articles/list', articles: tag.articles.not_archived %>
            </turbo-frame>
        </div>
    <% end %>
</div>
