<turbo-frame id="articles">
    <% if @articles.any? %>
        <ul class="space-y-4">
            <% @articles.each do |article| %>
                <li class="p-4 border rounded-md shadow-sm bg-white hover:bg-gray-100 transition">
                    <h2 class="text-lg font-semibold">
                        <%= link_to article.title, article_path(article), class: "text-primary-600 hover:underline", data: { turbo: false } %>
                    </h2>
                </li>
            <% end %>
        </ul>
    <% else %>
        <p class="text-center text-gray-500">Bu etikete ait makale bulunamadı.</p>
    <% end %>
</turbo-frame>
